@font-face {
  font-family: "Alarm clock";
  src: url("./../fonts/digital-7.ttf");
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.img{
  max-width: 300px;
  width: 100%;
}

.time{
  max-width: 203px;
  width: 100%;
  font-family: "Alarm clock";
  position: absolute;
  top: 30%;
  color: white;
  font-size: 50px;
  text-shadow: 0 0 7px cyan;
  z-index: 2;
}

.timeSec{
  text-shadow: 0 0 3px brown;
  position: absolute;
  top: 38%;
  font-family: "Alarm clock";
  left: calc(100% - 208px);
  max-width: 250px;
  font-size: 30px;
  width: 100%;
  color: rgb(169, 167, 167);
}

.name{
  position: absolute;
  top: 51%;
  max-width: 250px;
  width: 100%;
  font-family: "Monotype Corsiva";
  font-size: 18px;
  color: rgb(98, 97, 97);
  text-shadow: 0 0 10px rgb(0, 42, 255);
}

.date{
  position: absolute;
  top: 55%;
  max-width: 250px;
  width: 100%;
  font-family: "Alarm clock";
  color: rgb(129, 127, 127);
  font-weight: 700;
  font-style: italic;
  font-size: 35px;
}